services:
  api:
    build: .
    container_name: swapi-project-v1
    ports:
      - "9000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
    - ./data:/app/data

  db:
    image: postgres:16
    restart: always
    container_name: localhost
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20

volumes:
  pgdata: